<?xml version="1.0"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="LinguaSpace.Grammar.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <userSettings>
        <LinguaSpace.Grammar.Properties.Settings>
            <setting name="COMPANY" serializeAs="String">
                <value>LinguaSpace</value>
            </setting>
            <setting name="PRODUCT" serializeAs="String">
                <value>Grammar</value>
            </setting>
            <setting name="VERSION" serializeAs="String">
                <value>3.0.0</value>
            </setting>
            <setting name="WINDOWPLACEMENT" serializeAs="String">
                <value/>
            </setting>
        </LinguaSpace.Grammar.Properties.Settings>
    </userSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
